<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Calculate My Paycheck</title>
    <meta name="description" content="Calculate My Paycheck 2.0">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor.62f9f881.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.14e27d12.css"> </head>

<body ng-app="calculateMyPaycheckApp" ng-controller="appCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon md-svg-src="images/cash-icon.svg" class="md-48"></md-icon> <span flex></span>
            <md-button class="md-raised">Go Pro</md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-card class="padded-card">
            <md-input-container>
                <label>Hourly rate</label>
                <input ng-model="rate" type="number" min="0"> </md-input-container>
            <md-input-container class="bottom-input">
                <label>Hours worked</label>
                <input ng-model="hours" type="number" min="0"> </md-input-container>
        </md-card>
        <md-card class="padded-card text-center"> <span class="md-display-2">{{ result | currency }}</span> </md-card>
    </md-content>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <script src="scripts/vendor.c8f8661b.js"></script>
    <script src="scripts/scripts.5964184b.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
</body>

</html>
